.atv,
.utv,
.dunebuggy {
  display: grid;
  grid-template-columns: 1fr 3fr 1.75fr;
  grid-template-rows: repeat(3, 110px);
}

.container {
  display: flex;
  flex-direction: column;
}
.introduction {
  height: 100px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 40px;
  background-color: #2c3043;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.section {
  grid-row: span 3;
}

.atv > .left {
  background-color: #0073d7;
}
.item-3 {
  background-color: #fda061;
}
.item-4 {
  background-color: #162c28;
}
.item-5 {
  background-color: #ff0000;
}
.item-6 {
  background-color: #4d1bc1;
}
.item-7 {
  background-color: #1bc14d;
}
.item-8 {
  background-color: #ffff00;
}
.item-9 {
  background-color: #1b50c1;
}
.item-10 {
  background-color: #7f1bc1;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
}
h1,
p {
  margin: 0;
  padding: 18px;
}

@media only screen and (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
  }
  .section {
    grid-column: 1 / 4;
  }
  .left {
    grid-row: span 1;
  }
  .introduction {
    padding: 0;
    font-size: 20px;
    margin: 0;
  }
}

.text {
  font-size: 18px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-justify: distribute;
  padding: 20px;
}

.middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
img {
  width: 100%;
  max-height: 200px;
}

.image-container {
  display: grid;
  grid-template-areas: "overlay";
}

.layer-0,
.layer-1 {
  grid-area: overlay;
}
.layer-0 > img {
  opacity: 0.5;
  z-index: 3;
}
